.wrapper {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}

.tabs {
  margin: -48px -48px 48px;
  background: white;

  :global(.ant-tabs-nav) {
    margin: 0 auto;
    padding: 0 48px;
  }

  :global(.ant-tabs-nav-operations) {
    display: none !important;
  }

  :global(.ant-tabs-tab) {
    padding: 18px 0;
  }
}
