.header {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  grid-auto-flow: column;
  align-items: end;

  > :global(.ant-typography) {
    grid-column: 1;
    margin: 0 !important;
  }
}

.card {
  grid-row: 1 / 3;

  :global(.ant-card-body) {
    padding: 16px;
  }
}

.wrapper {
  padding: 36px 0;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
}

.button {
  display: block;
  margin-left: auto;
}

@media (max-width: 1023px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .title {
    width: 100%;
  }

  .mobileCards {
    display: flex;
    flex-direction: row;
  }

  .card {
    :global(.ant-card-body) {
      width: 155px;
    }
    margin-right: 4px;
  }

  .wrapper {
    padding: 16px 0;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  }
}

@media (max-width: 380px) {
  .card {
    :global(.ant-card-body) {
      width: 100%;
    }
    margin-right: 4px;
  }
  .button {
    width: 100%;
  }
}
