.wrapper {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}

.button {
  position: absolute;
  top: 36px;
  right: 48px;
}

@media (max-width: 1023px) {
  .wrapper {
    grid-template-columns: 100%;
  }

  .button {
    position: static;
    margin-bottom: 16px;
    width: 100%;
  }
}
