.image {
  height: 100px;
  object-fit: cover;
}

.tags {
  padding-top: 12px;
}

.card {
  height: 100%;
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
