.hr {
  border-top-color: #e0e3e7;
  margin: 24px 0 16px !important;
}

.categoryItem {
  display: flex;
  flex-direction: row;
}

.categoryName.categoryName {
  margin-bottom: 24px;
}

.item {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 32px;
  &:last-child {
    margin-right: 0;
  }
}

.disabled {
  position: relative;

  img {
    filter: grayscale(1) contrast(0.4) brightness(1.35);
    cursor: pointer;
    transition: 0.3s;
  }

  .icon:hover {
    img {
      filter: grayscale(1) contrast(0.4) brightness(0.6);
    }

    .scales {
      display: inline-block;
      position: absolute;
      cursor: pointer;
      z-index: 100;
      left: 50%;
      margin-right: -50%;
      text-align: center;
      top: 32px;
      transform: translate(-50%, 0);
      color: white;
      text-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
    }
  }
}

.scales {
  display: none;
  transition: 0.2s;
}

.icon {
  transition: 0.2s;
}

.description {
  width: 100%;
  text-align: center;
  margin-top: 8px;
}

@media (max-width: 1023px) {
  .hr {
    margin: 20px 0 16px !important;
  }
  .item {
    width: 200px;
    align-items: center;
    margin-right: 32px;
    margin-bottom: 24px;
  }
}

@media (max-width: 500px) {
  .categoryItem {
    flex-direction: column;
  }
  .item {
    width: 100%;
    align-items: center;
    margin-right: 0;
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .description {
    width: 80%;
  }
}
