.alert {
  position: absolute;
  right: 48px;
  top: 32px;
}

.table {
  border: 1px solid #d9e0ed;
  filter: drop-shadow(0px 0px 16px rgba(96, 136, 169, 0.14));
}

.myRow {
  background: #fff1dd;
}

@media (max-width: 1024px) {
  .alert {
    position: static;
    margin-bottom: 16px;
  }
}
