.wrapper {
  display: grid;
  grid-template-columns: 256px 1fr;
  grid-gap: 16px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.name {
  margin-top: 16px;
  margin-bottom: 0;
}

.column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  align-content: start;
}
